* {
  background-color: rgb(234, 231, 226);
}

.container h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 800;
}

#value {
  justify-content: center;
  display: flex;
  font-size: 70px;
  font-family: sans-serif;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-left: 30%;
  margin-right: 30%;
}

.btn {
  padding: 20px;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(58, 58, 59);
}
